* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #91EAE4, #86A8E7);
}


.button-container{
    margin: 10px;
    display: flex;
    justify-content:space-evenly;
    width: 500px;

    & .btn{
        width: 100px;
        padding: 10px;
        border-radius: 50px;
        text-transform: capitalize;
        font-weight: bold;
        letter-spacing: 2px;
        cursor: pointer;
    }

    & #btn1 {
        background-color: white;
        color: black;
    }

    & #btn2 {
        background-color: black;
        color: white;
    }

    #btn1:hover{
        background-color: darkblue;
        color: white;
    }

    #btn2:hover{
        background-color:blue;
        color: white;
    }
}

h2 {
    text-transform: capitalize;
    margin-bottom: 50px;
    font-weight: normal;
}

.gradient-code {
    background-color: transparent;
    color: white;
    height: 70px;
    padding: 25px;
    box-shadow: 5px 0px 5px 1px  white;
    border-left: 100px solid transparent;
    border-radius:10px;
    font-weight: bolder;
    filter: brightness(90%);
    letter-spacing: 2px;
    color: black;
}

.copy-gradientColorCode {
    position: absolute;
    left: 25.6rem;
    top: 26.9rem;
    background-color: transparent;
    padding:10px;
    height: 67px;
    border: 1px solid black;
    border-radius: 10px;
    border-block: 1px solid transparent;
    box-shadow: -4px 0px 1px 1px black;
    font-weight: bolder;
}
.copy-gradientColorCode:hover {
    position: absolute;
    transform: scale(100%);
    cursor: pointer;
}

.animation {
    animation: slide 2s linear alternate;
    perspective: 1000px;
}
@keyframes slide {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(38rem);
    }
    
}
